<style>
	.footer-bg-image {
		background-image: url('https://thumbs.dreamstime.com/b/silver-gradient-background-design-texture-ribbon-frame-banner-abstract-template-metal-shine-steel-plate-metallic-light-chrome-106068291.jpg');
		background-size:cover ;
		
	}
</style>

	<nav class="navbar navbar-light bg-light fixed-bottom pb-0 ">
		<div class="container-fluid footer-bg-image">
		  <a class="navbar-brand mx-auto" href="#">Footer <i class="far fa-arrow-alt-circle-up"></i>

		  </a>
		</div>
	  </nav>
	  
	  <!-- As a heading -->
</footer>
</body>
</html>