/* .card{
    width:210px;
    border:1px solid grey;
    border-radius: 5px;
    text-align: center;
}

img{
    width:200px;
    border:5px solid rgb(236,183,191);
    border-radius: 50%;
} */


section{
    background-color: #6d6875;
    width:400px;
    height: 800px;
}

div{
    background-color: #e5989b;
    width:70%;
    height: 20%;
}

h1{
    font-size: 40px;
    border:1px solid black;
    /* line-height: 200%; */
    line-height: 80px;
}