<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Section 33 - TEMPLATING</title>
</head>

<body>
	<h1>The Homepage <%= 'hello world'.toUpperCase() %></h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta commodi ut
		odit sed animi libero, voluptate ab perspiciatis fugit provident nulla earum
		maxime, temporibus iusto aliquid! Laborum temporibus delectus esse?</p>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta commodi ut
		odit sed animi libero, voluptate ab perspiciatis fugit provident nulla earum
		maxime, temporibus iusto aliquid! Laborum temporibus delectus esse?</p>

</body>

</html>