<footer id="bottom" class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<div class="row">
			<div class="col offset-6 ">
				<a href="#"><span class="badge bg-secondary fs-5">&uparrow;</span></a>
			</div>
		</div>
		<span class="text-muted">&copy; YelpCamp 2022</span>
	</div>
</footer>